/** @type {import('tailwindcss').Config} */
@tailwind base;
@tailwind components;
@tailwind utilities;

.helloThere {
    display: block;
}

.my-class {
    display: block;
    position: absolute;
}

#userActions > div:nth-child(2n) {
    background-color: rgb(237, 237, 237)
}

.btn {
    @apply font-bold py-2 px-4 rounded;
  }
  .btn-blue {
    @apply bg-blue-500 text-white;
  }
  .btn-blue:hover {
    @apply bg-blue-700;
  }

  .btn-green {
    @apply bg-green-500 text-white;
  }
  .btn-green:hover {
    @apply bg-green-700;
  }
/*
npm install -D tailwindcss

npx tailwindcss init

npx tailwindcss -i ./src/input.css -o ./public/style.css --watch
*/